.main{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: left;
    display: flex;
    background-color: #67e57d;
    height: 500px;
}
.classing{
    display: flex;
}
.sub-class{
    text-align: center;
    margin-top: 12.3rem;
}
.button{
    margin-top: 1.7rem;
}
.e-cell{
    font-size: 1.4rem;
    font-weight: bold;
    color:rgb(245, 96, 55) ;
}
.text{
    margin-top: 0.7rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width:1140px){
    .classing{
        flex-direction: column;
        align-items: center;
    }
    .main{
        align-items: center;
    }
    .sub-class{
        margin-top: 4rem;
    }
    .main{
        height: 400px;
    }
}